img {
    object-fit: cover;
    display: block;
    border-radius: 20px;
}

.small_img {
    width: 130px;
    height: 150px;
}

.small_img:hover {
    border-color: blue;
}

.small_img + .small_img {
    margin-top: 10px;
}

.big_img {
    width: 450px;
    height: 500px;
    margin-left: 10px;
}

.flex {
    display: flex;
}

.preview {
    width: 300px;
    height: 100px;
    border: 1px solid black
}