.wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
}

.block + .block {
    margin-top: 30px;
}

.block h1 {
    margin-bottom: 16px;
    font-size: 22px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}

@media screen and (max-width: 385px) {
    .wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}